@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #826afb;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form{
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    /* margin: 50px; */
    max-width: 50%;
    margin: 25px ;
}

.img-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.form img{
    width: 50%;
}

.form h1{
    text-align: center;
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.form p{
    margin: 5px 0;
    text-align: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.form p span{
    color: #826afb;
    font-weight: bold;
}

.form-control{
    width: 100%;
    margin-top: 20px;
}

.form-control label{
    color: #333;
}

.form-control input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
}

.form .column{
    display: flex;
    column-gap: 15px;
}

.submitBtn{
    margin-top: 20px;
    font-size: 1.20rem;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #826afb;
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 8px;
}

.submitBtn:hover{
    cursor: pointer;
    background-color: #6b52e8;
}


.form .options-list{
    display: flex;
    justify-content: space-between;
}

.form-options{
    margin: 20px 0px;
}

.form-options > label{
    font-weight: 600;
    font-size: 1.25rem;
    width: 100%;
    /* font-family: sa; */
}

.options{
    padding: 20px;
}

.options label{
    width: 100%;
}


/* MOBILE SCREENS */
@media (max-width: 767px) {
    body{
        display: flex;
    }
    .left-main{
        display: none;
    }
    .right-main{
        width: 100%;
    }
    .form{
        margin: 25px;
        min-width: 80%;
    }
}

/* TABLET SCREENS */
@media (min-width: 768px) and (max-width: 1024px) {
    body{
        display: flex;
    }
    .left-main{
        display: none;
    }
    .right-main{
        width: 100%;
    }
    .form{
        margin: 25px;
    }
}